@font-face {
	font-family: 'Roboto-Regular';
	src: url("../fonts/roboto-regular-webfont.woff2") format('woff2'),
	url("../fonts/src/Roboto-Regular.ttf") format('truetype');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Roboto-Italic";
	src: url("../fonts/roboto-italic-webfont.woff2") format("woff2"),
	url("../fonts/src/Roboto-Italic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Roboto-Bold";
	src: url("../fonts/roboto-bold-webfont.woff2") format("woff2"),
	url("../fonts/src/Roboto-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: 600;
}
@font-face {
	font-family: "Roboto-BoldItalic";
	src: url("../fonts/roboto-bolditalic-webfont.woff2") format("woff2"),
	url("../fonts/src/Roboto-BoldItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: 600;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
	background: #000;
	height: 100vh;
	margin: 0;
	padding: 0;
	color: #edf0f1;
}
/* Стили MENU*/
header {
  display: flex;
    position: fixed;
	background-color: #000;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5%;
  z-index: 1000;
}
nav {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    background: #000;
    height: 100%;
    transform: skewX(0deg) translate(100%,0);
    transform-origin: top right;
    transition: all .2s ease-in;
    z-index: -1;
}
nav ul {
    transform: skewX(-8deg);
    transform-origin: top left;
    position: fixed;
    right: 120px;
    top: 30%;
    width: 400px;
    text-align: right;
}
nav ul li {
    position: relative;
    z-index: 999;
    list-style: none;
    font-family: 'Roboto-Regular', sans-serif !important;
    font-size: 2em;
    font-weight: 200;
    line-height: 1.7em;
    color: #fff;
}
nav ul li a {
    border: none;
    color: #fff;
    text-decoration: none;
}
nav ul li a:hover {
    border: none;
    color: #0f33ff;
    text-decoration: none;
}
nav.active {
    transform: skewX(8deg) translate(0,0);
}
nav li {
    opacity: 0;
    transform: translate(0, 10px);
    transition: all .0s ease-in .3s;
}
nav.active li {
    opacity: 1;
    transform: translate(0,0);
    transition: all .2s ease-in 0s;
}
nav.active li:nth-child(1) {
    transition-delay: .3s;
}
nav.active li:nth-child(2) {
    transition-delay: .4s;
}
nav.active li:nth-child(3) {
    transition-delay: .5s;
}
nav.active li:nth-child(4) {
    transition-delay: .6s;
}
nav.active li:nth-child(5) {
    transition-delay: .7s;
}
nav.active li:nth-child(6) {
    transition-delay: .8s;
}
.header--nav-toggle {
    display: flex;
    width: 50px;
    height: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
}
.header--nav-toggle span,
.header--nav-toggle::before,
.header--nav-toggle::after {
    content: "";
    position: relative;
    width: 16px;
    height: 2px;
    background-color: #fff
}
.header--nav-toggle::before {
    bottom: 5px;
    width: 23px
}
.header--nav-toggle::after {
    top: 5px;
    width: 23px
}
/* Стили LOGO*/
.icon {
  display: inline-block;
  width: 31px;
  height: 33px;
  background-size: cover;
}
.icon-alien {
  background-image: url("../img/src/alien.svg");
}
.logo {
	display: flex;
	align-items: center;
  cursor: pointer;
	text-decoration: none;
}
.logo:hover {
	text-decoration: none;
  opacity: 70%;
}
.logo h1{
	font-family: 'Roboto-Bold', sans-serif;
	font-size: 40px;
  font-weight: 600;
  color: #edf0f1;
}
/* Стили PREVIEW*/
.preview{
	width: 90vw;
	height: 75vh;
	margin-left: 10vw;
	padding-top: 20vh;
	background: #000;
	color: #edf0f1;
}
.preview h1{
	font-family: 'Roboto-Bold', sans-serif;
	font-weight: 800;
	font-size: 3.5em;
	line-height: 1;
	color: #edf0f1;
}
.preview h2{
	font-family: 'Roboto-Bold', sans-serif;
	font-weight: 800;
	font-size: 3.3em;
	line-height: 0.9;
	color: #d7d7d7;
}
/* Стили PREVIEW BUTTON*/
.preview button {
    position: relative;
		margin-top: 25px;
    padding: 5px 17px 5px 12px;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
}
.preview button .btn-background {
    position: absolute;
    top: 0;
    left: 41px;
    right: 0;
    height: 100%;
    background-color: #0f33ff;
    z-index: 0;
    -webkit-transition: left .2s ease-in-out;
    transition: left .2s ease-in-out
}
.preview button:hover .btn-background {
    left: 0;
}
.preview button:focus {
    outline: none;
}
.preview button svg {
    position: relative;
    left: 2px;
		top: 0;
		margin-top: -8px;
    width: 22px;
    fill: #fff;
		z-index: 1;
}
.preview button b {
	position: relative;
	color: #fff;
	font-family: 'Roboto-Bold', sans-serif;
	font-weight: 700;
	font-size: 1.5em;
	z-index: 1;
}
/* Стили PREVIEW IMG*/
.preview-img{
	position: relative;
	background: #000;
	background-image: radial-gradient(circle at center, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url("../img/src/pr.gif");
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0 auto;
	width: 35vw;
	height: 45vh;
	border-radius: 10px;
	z-index: 0;
}
/* Стили INDEX CARD*/
.preview-card{
	margin-left: 8vw;
	margin-right: 8vw;
	width: 84vw;
}
.card{
    background: none;
    font-weight: 500;
    color: #6c6c70;
    text-decoration: none;
}
.card:not(#articles):hover{
    color: #edf0f1;
}
.card-body a{
	text-decoration: none;
	font-weight: 700;
	font-size: 1.1em;
	color: #0000cc;
}
.card-text{
	margin-bottom: 10px;
	font-size: 1.1em;
    line-height: 1.3em;
}
.card-body a:hover{
	color: #0f33ff;
}
.card-title{
	font-weight: 800;
	font-size: 1.3em;
    margin-top: -20px;
}
.card-box{
    padding-top: 15vh;
}
.card-grid{
    padding-top: 2vw;
    padding-left: 5vw;
    padding-right: 5vw;
    margin: 0 auto;
}
.card-grid .card-title, .card-grid-header .card-title{
    color: #ffdf84;
}
.card-grid-header{
    background: none !important;
    padding-left: 5vw;
    padding-right: 5vw;
    margin: 0 auto;
}
.card-deck a{
    text-decoration: none;
}
.card-grid-preview{
    background: none !important;
    font-weight: 500;
    color: #6c6c70;
    text-decoration: none;
}
.card-grid-preview:hover{
    color: #edf0f1;
}
.card-grid-preview h5{
    text-transform: uppercase;
}
.card-img {
    border-radius: 5px !important;
    vertical-align: center;
    margin: 0 auto;
}
.card-page-parallax{
    background: none !important;
    max-width: 90vw;
    margin: 0 auto;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
}
.card-page-parallax h5{
    text-transform: uppercase;
    font-size: 3em;
    color: #ffdf84;
    padding-bottom: 15px;
    border-bottom: 1px solid #425fff;
}
.card-page-parallax h6{
    font-size: 1.2em;
    font-weight: 300;
    text-align: left;
    color: #ffdf84;
    padding-top: 10px;
    padding-bottom: 30px;
}
.card-page-parallax .card-text{
    font-size: 1.5em;
    font-weight: 300;
    text-align: justify;
    color: #c2c2c2;
}
.parallax {
    /* The image used */
    width: 85vw;
    min-height: 50vh;
    margin: 0 auto;
    border-radius: 0.3rem;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Стили CONTACT*/
.contact {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/src/contact-visual.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}
.contact-lockup {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 900px;
    max-width: 75%;
    height: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin: 0 auto;
		z-index: 0;
}
.contact-lockup .contact-modal{
    padding: 45px 45px;
    text-align: center;
    background-color: #0c0c0c;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.75);
}
.contact-lockup .modal--information p,
.contact-lockup .modal--information a {
    display: block;
    margin: 14px 0;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}
.contact-lockup .modal--information p {
    margin-top: 0;
}
.contact-lockup .modal--options {
    margin: 0;
    padding: 0;
    list-style: none;
}
.contact-lockup .modal--options>li {
    width: 130px;
    margin: 0 auto 25px auto;
}
.contact-lockup .modal--options li:nth-child(1) {
    background-color: #1769ff;
}
.contact-lockup .modal--options li:nth-child(2) {
    background-color: #ed812b;
}
.contact-lockup .modal--options li:nth-child(3) {
    margin-bottom: 0;
    background-color: #0f33ff;
    text-transform: uppercase;
}
.contact-lockup .modal--options a {
    display: block;
    width: 100%;
    padding: 8px 0;
    text-decoration: none;
    color: #fff;
    font-weight: 700
}
/* Стили ACCESS*/
.access-box{
    padding-top: 30vh;
    margin-left: 5vw;
    margin-right: 5vw;
    display: block;
}
.access-box h1{
    font-weight: 800;
    font-size: 3em;
    text-align: center;
    margin: 0 auto;
    color: #e0a800;
}
.access-box h2{
    font-weight: 800;
    font-size: 2.5em;
    text-align: center;
    margin: 0 auto;
    color: #0f33ff;
}
.access-box h3{
    font-weight: 800;
    font-size: 2em;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
    color: #e0a800;
}
.access-help {
    width: 100%;
    margin: 0 auto;
}
.access-help ol {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.access-help li{
    float: center;
    font-weight: 800;
    font-size: 2em;
    color: #8fd19e;
}
/* Стили ACCESS INPUT*/
.input-pass{
    width: 50vw;
    margin: 0 auto;
    margin-top: 3rem;
}
.input-pass input{
    background: none !important;
    border: none;
    border-radius: 2px;
    border: 2px solid #0f33ff;
    border-left: 2px solid #fff;
 }
.input-group-text{
    background: #0f33ff !important;
    border: none;
    color: #fff;
}
.return-btn{
    background: #0f33ff;
    color: #fff;
}
/* Стили ACCESS MODAL*/
.modal-content{
    border: none !important;
}
.modal-body{
    background: #000 !important;
}
.videoIframe{
    width: 70vw;
    height: 70vh;
}
@media (max-width: 520px) {
	.preview{
		margin-left: 5vw;
	}
	.preview h1{
		font-size: 3em;
		line-height: 1;
	}
	.preview h2{
		font-size: 2.8em;
		line-height: 0.9;
	}
    .input-pass{
        width: 70vw;
        margin: 0 auto;
        margin-top: 4rem;
    }
    .card-page-parallax h5{
        font-size: 2em;
    }
    .card-page-parallax h6{
        font-size: 1em;
        box-shadow: ;
    }

}
@media (max-width: 1180px) {
    .contact-lockup {
        max-width: 90%
    }
		.preview{
			margin-left: 10vw;
		}
		.preview-img{
			width: 0px;
			height: 0px;
		}
}
@media (max-width: 767px) {
    .contact-lockup {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center
    }
    nav{
        width: 80%;
        z-index: 10001;
    }
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background: linear-gradient(to top, #fcb045, #fd1d1d, #833ab4);
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 10px rgba(255,255,255,0.8);
}